{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up!</title>
    <link rel="stylesheet" href="style/style-sign-up.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header__nav">
        <div class="logo">
            <!-- <img src="logo">
            <a href="" class="header__logo">Project</a> -->

        </div>
    </header>
    <div class="container">
        <div class="forms-container">
                
                <form action="" method="POST" class="sign-up">
                <h2 class="title">Crea un Usuario:</h2>
                    {% csrf_token %}
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {{form.usuario}}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        {{form.email}}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        {{form.password}}
                    </div>
                    <input type="submit" class="btn" value="Registrate" />
                    <span>O</span>
                    <div class="btn"><a href="sign-in.html">Ingrese</a></div>
                </form>
                
        </div>

    </div>
    <div class="panels-container"></div>
    </div>
    <script src="{% static 'JavaScript/main.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>